doctype strict

html(xmlns="http://www.w3.org/1999/xhtml" bgcolor="#F2F2F2")
	head
		meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
		meta(content="initial-scale=1.0", name="viewport")
		title clicher | invite
		style
			:stylus
				.ReadMsgBody
					width 100%
					background-color #f2f2f2
				.ExternalClass
					width 100%
					background-color #f2f2f2
				.ExternalClass,
				.ExternalClass p,
				.ExternalClass span,
				.ExternalClass font,
				.ExternalClass td,
				.ExternalClass div
					line-height 100%
				html
					width 100%
				body
					-webkit-text-size-adjust none
					-ms-text-size-adjust none
				body
					margin 0
					padding 0
				table
					border-spacing 0
				img
					height auto
					line-height 100%
					outline none
					text-decoration none
				table td
					border-collapse collapse
				html, body
					background-color #f2f2f2
					margin 0
					padding 0
				br, strong br, b br, em br, i br
					line-height 100%
				@media phone
					.container
						width: 100% !important

	body(style="font-family: Arial, Helvetica, sans-serif; margin: 0; padding: 0; width: 100%; text-align: center; height: 100%; background-color:#423655;" align="center")

		table(style="width: 100%; text-align:center" align="center" width="100%" cellspacing="0" cellpadding="0" border="0")
			tr
				td(align="center")

					//- Container 640px

					table(style="width: 640px;" width="100%" cellspacing="0" cellpadding="0" border="0")

						tr
							td(style="color: #fff; text-align: center; font-size: 14px; padding: 25px 0;" align="center") Чтобы сообщения не попадали в спам, добавьте адрес <a href="mailto:info@astro.ua" style="color: white; text-decoration: none;"><span style="color: white; text-decoration: none;">info@astro.ua</span></a> в адресную книгу.

						tr
							td
								img(src="/img/top.png"  style="display: block; margin: 0; padding: 0; height: 12px; width: 650px;")
									
						tr
							td(style="background-color: white; padding: 30px 20px; border-bottom: 1px solid #cfcfcf;")
								table(width="100%" cellspacing="0" cellpadding="0" border="0")
									tr
										td
											img(src='/img/logo.jpg' alt="ASTROLOGY" style="color: #423655; line-height: 1; font-size: 25px; font-weight: bold")
										td(style="color: #444545; font-size: 13px; font-style: italic; width: 195px;").
											Не отображаются картинки? <br>
											Откройте в браузере <a href='/' style="color: #6f5b8e; text-decoration: underline;">ccылку</a>

						tr
							td(style="background-color: white; padding: 30px 20px; border-bottom: 1px dashed #cfcfcf;")
								h1(style="font-size: 26px; color: #434045; margin: 0 0 20px; text-align: center;") Как выбрать колоду Таро под себя?
								p
									img(src="/img/topimage_07.jpg")
								p(style="font-size: 14px; color: #434045; line-height: 1.5").
									Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Быть игроком в команде замечательно - даже если Вам не очень хочется откладывать свои личные устремления, Вы верите в общую цель. В конечном итоге важность того, чего Вы достигнете, перевесит жертвы, на которые Вы пошли. Сегодня Вы почувствуете гордость за себя, а это прямой признак того, что Ваша уверенность в себе растет. Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Вы достигнете, перевесит жертвы, на которые Вы пошли.

								table(width="235" cellspacing="0" cellpadding="0" border="0" align="center")
									tr
										td(style="width: 15px; height: 40px;")
											img(src="/img/buttonside_03.jpg" style="width: 15px; height: 40px; display: block")
										td(valign="middle" style="text-align: center; background-color: #a58fb4;")
											a(href='https://www.facebook.com/' style="height: 18px; display: block; padding: 11px 0; color: white; text-decoration: none; text-align: center") Узнать о нас на сайте
										td(style="width: 15px; height: 40px;")
											img(src="/img/buttonside_05.jpg" style="width: 15px; height: 40px; display: block")
						tr
							td(style="background-color: white; padding: 30px 20px; border-bottom: 1px dashed #cfcfcf;")
								h2(style="font-size: 26px; color: #434045; margin: 0 0 20px; text-align: center;") Одни из лучших астрологов
								table(width="100%" cellspacing="0" cellpadding="0" border="0")
									tr

										td(style="border: 1px solid #e6e1ec; border-radius: 3px;")
											table(width="100%" cellspacing="0" cellpadding="0" border="0")
												tr
													td(style="text-align: center; padding-top: 20px;")
														img(src='/img/portrait_03.jpg' alt="" style="width: 90px; height: 90px")
												tr
													td(style="text-align: center; font-size: 17px; font-weight: bold; font-color: #434045; padding: 14px 0 10px;").
														Артем<br>Колпачев
												tr
													td(style="text-align: center; font-size: 14px; font-color: #434045;") Экстрасенс, Астролог
												tr
													td(style="text-align: center; padding: 16px 0 19px 0;")
														a(href="/" style="border-radius: 3px; background-color: #57c582; display: inline-block; padding: 10px; color: white; text-decoration: none") Смотреть на сайте

										td(style="width: 20px")

										td(style="border: 1px solid #e6e1ec; border-radius: 3px;")
											table(width="100%" cellspacing="0" cellpadding="0" border="0")
												tr
													td(style="text-align: center; padding-top: 20px;")
														img(src='/img/portrait_05.jpg' alt="" style="width: 90px; height: 90px")
												tr
													td(style="text-align: center; font-size: 17px; font-weight: bold; font-color: #434045; padding: 14px 0 10px;").
														Светлана<br>Батурчиева
												tr
													td(style="text-align: center; font-size: 14px; font-color: #434045;") Экстрасенс, Астролог
												tr
													td(style="text-align: center; padding: 16px 0 19px 0;")
														a(href="/" style="border-radius: 3px; background-color: #57c582; display: inline-block; padding: 10px; color: white; text-decoration: none") Смотреть на сайте

										td(style="width: 20px")

										td(style="border: 1px solid #e6e1ec; border-radius: 3px;")
											table(width="100%" cellspacing="0" cellpadding="0" border="0")
												tr
													td(style="text-align: center; padding-top: 20px;")
														img(src='/img/portrait_07.jpg' alt="" style="width: 90px; height: 90px")
												tr
													td(style="text-align: center; font-size: 17px; font-weight: bold; font-color: #434045; padding: 14px 0 10px;").
														Артем<br>Колпачев
												tr
													td(style="text-align: center; font-size: 14px; font-color: #434045;") Экстрасенс, Астролог
												tr
													td(style="text-align: center; padding: 16px 0 19px 0;")
														a(href="/" style="border-radius: 3px; background-color: #57c582; display: inline-block; padding: 10px; color: white; text-decoration: none") Смотреть на сайте

								table(width="210" cellspacing="0" cellpadding="0" border="0" align="center" style="padding-top: 30px")
									tr
										td(style="width: 25px; height: 42px;")
											img(src="/img/btn_13.jpg" style="width: 25px; height: 42px; display: block")
										td(valign="middle" style="text-align: center; border-top: 1px solid #d7d5d8; border-bottom: 1px solid #d7d5d8")
											a(href='https://www.facebook.com/' style="height: 18px; display: block; padding: 11px 0; color: #5f5963; text-decoration: none; text-align: center") Все астрологи
										td(style="width: 25px; height: 42px;")
											img(src="/img/btn_16.jpg" style="width: 25px; height: 42px; display: block")

						tr
							td(style="background-color: white; padding: 30px 20px;")
								h2(style="font-size: 26px; color: #434045; margin: 0 0 20px; text-align: center;") Все статьи на эту тему
								table(width="100%" cellspacing="0" cellpadding="0" border="0")
									tr

										td(style="border: 1px solid #e6e1ec; border-radius: 3px; width: 185px;")
											table(width="100%" cellspacing="0" cellpadding="0" border="0")
												tr
													td(style="text-align: center; padding-top: 20px;")
														img(src='/img/circle_12.jpg' alt="" style="width: 90px; height: 90px")
												tr
													td(style="text-align: center; font-size: 17px; font-weight: bold; font-color: #434045; padding: 14px 10px 10px 10px;").
														Что означает имя во сне?
												tr
													td(style="text-align: center; font-size: 14px; font-color: #434045; padding: 0 5px 20px 5px;") Засучите рукава и активнее за дело - Вам необходимо вмешаться									

										td(style="width: 20px")

										td(style="border: 1px solid #e6e1ec; border-radius: 3px; width: 185px;")
											table(width="100%" cellspacing="0" cellpadding="0" border="0")
												tr
													td(style="text-align: center; padding-top: 20px;")
														img(src='/img/circle_12.jpg' alt="" style="width: 90px; height: 90px")
												tr
													td(style="text-align: center; font-size: 17px; font-weight: bold; font-color: #434045; padding: 14px 10px 10px 10px;").
														Что означает имя во сне?
												tr
													td(style="text-align: center; font-size: 14px; font-color: #434045; padding: 0 5px 20px 5px;") Засучите рукава и активнее за дело - Вам необходимо вмешаться

										td(style="width: 20px")

										td(style="border: 1px solid #e6e1ec; border-radius: 3px; width: 185px;")
											table(width="100%" cellspacing="0" cellpadding="0" border="0")
												tr
													td(style="text-align: center; padding-top: 20px;")
														img(src='/img/circle_12.jpg' alt="" style="width: 90px; height: 90px")
												tr
													td(style="text-align: center; font-size: 17px; font-weight: bold; font-color: #434045; padding: 14px 10px 10px 10px;").
														Что означает имя во сне?
												tr
													td(style="text-align: center; font-size: 14px; font-color: #434045; padding: 0 5px 20px 5px;") Засучите рукава и активнее за дело - Вам необходимо вмешаться

						tr(width="100%" cellspacing="0" cellpadding="0" border="0" align="center")
							td(style="background-color: #f5f5f5; padding: 27px 20px 27px 20px; line-height: 1.5")
								p(style="font-size: 14px; color: #434045; font-style: italic; text-align: justify;") Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Быть игроком в команде замечательно - даже если Вам не очень хочется откладывать свои личные устремления, Вы верите в общую цель. В конечном итоге важность того, чего Вы достигнете, перевесит жертвы, на которые Вы пошли. Сегодня Вы почувствуете гордость за себя, а это прямой признак того, что Ваша уверенность в себе растет. Засучите рукава и активнее принимайтесь за дело - Вам необходимо вмешаться в происходящее и помочь всем остальным. Вы достигнете, перевесит жертвы, на которые Вы пошли. 

						tr
							td(style="background-color: white; padding: 15px 20px 0 20px;")
								h1(style="font-size: 26px; color: #434045; margin: 0 0 20px; text-align: center;") Как выбрать колоду Таро под себя?
								p
									img(src="/img/topimage_07.jpg")

						tr(width="100%" cellspacing="0" cellpadding="0" border="0" align="center")
							td(style="background-color: white; padding-bottom: 20px; border-bottom: 1px solid #cfcfcf;")
								table(style="width: 100%; text-align:left" align="left" width="100%" cellspacing="0" cellpadding="0" border="0")
									tr
										td
											table(style="margin-left: 20px")
												tr
													td(style="width: 7px; padding: 10px 10px 10px 10px; align: left;")
														img(src="/img/dot_19.jpg" style="width: 7px; height: 7px; display: block")
													td(style="font-size: 14px").
														Какие женщины нравятся Вашему мужчине, какую даму ищет и полюбит.
											table(style="margin-left: 20px")
												tr
													td(style="width: 7px; padding: 10px 10px 10px 10px; align: left;")
														img(src="/img/dot_19.jpg" style="width: 7px; height: 7px; display: block")
													td(style="font-size: 14px").
														Что в Вас может оттолкнуть Вашего партнера.
											table(style="margin-left: 20px")
												tr
													td(style="width: 7px; padding: 10px 10px 10px 10px; align: left;")
														img(src="/img/dot_19.jpg" style="width: 7px; height: 7px; display: block")
													td(style="font-size: 14px").
														Ваши сильные стороны, которые помогут удержать избранника.
											table(style="margin-left: 20px")
												tr
													td(style="width: 7px; padding: 10px 10px 10px 10px; align: left;")
														img(src="/img/dot_19.jpg" style="width: 7px; height: 7px; display: block")
													td(style="font-size: 14px").
														Какие черты в себе развить, чтобы стать идеальной в отношениях и не потерять их. 		

						tr(width="100%" cellspacing="0" cellpadding="0" border="0" align="center")
							td(style="background-color: white; padding-bottom: 20px;")
								table(style="width: 100%; text-align: left" align="left" width="100%" cellspacing="0" cellpadding="0" border="0")
									tr
										td
											table(style="margin-left: 15px; margin-top: 15px")
												tr
													td
														img(src="/img/social_22.jpg" style="width: 41px; height: 41px; display: block; padding: 0 7px 0 7px")
													td
														img(src="/img/social_24.jpg" style="width: 41px; height: 41px; display: block; padding: 0 7px 0 7px")
													td
														img(src="/img/social_26.jpg" style="width: 41px; height: 41px; display: block; padding: 0 7px 0 7px")
													td
														img(src="/img/social_28.jpg" style="width: 41px; height: 41px; display: block; padding: 0 7px 0 7px")
													td
														img(src="/img/social_31.jpg" style="width: 41px; height: 41px; display: block; padding: 0 7px 0 7px")
													td
														p(style="font-size: 13px; padding-left: 15px; color:#676568").
															© 2001-2015 Сервис “Астро”, все права защищены.</b>
															(044) 123 - 45 - 67 (044) 123 - 45 - 67
						
						tr
							td
								img(src="/img/bottom_39.jpg" style="display: block; margin: 0; padding: 0; height: 12px; width: 647px;")

						tr
							td(style="color: #aaa6b0; text-align: center; font-size: 12px; padding: 25px 0 40px 0; line-height: 1.5" align="center") Вы получили письмо, поскольку являетесь зарегистрированным пользователем Astro </br> Чтобы отписаться или поменять настройки подписки кликните  <a href="/" style="color: #aaa6b0;"><span style="color: #aaa6b0; text-decoration: none;">по ссылке.</span></a>
									





